<!DOCTYPE html>
<html>
<head>
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
	<title></title>
</head>
<body>
	
		<div class = 'container'>

			<h1>Thanks for using this we will meet soon</h1>
		</div>

</body>
<style type="text/css">
	h1{
		color:black;
		font-size: 50px;
		font-weight: bolder;
		font-style: italic;
		text-align: right;
		color: azure;
	}
	body{

		background-image: url(https://images.unsplash.com/photo-1544436825-d2e15fe38e20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjQzMzEwfQ&auto=format&fit=crop&w=1950&q=80);
		background-repeat: no-repeat;
		margin-top: 20px;
	}
	
</style>
</html>